body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12pt;
  font-family: 'Raleway', sans-serif;
}

li{
  margin: .75rem;
}
